{% extends 'core/home.html' %}
{% load static %}
{% load bootstrap4 %}

{% block importaciones %}
<script src="{% static 'core/js/func.js' %}"></script>

<script>
  window.onload = mostrarSaludo;
</script>

{% endblock %}
{% bootstrap_css %}

{% block docname%}
<title>User Profile Home</title>
{% endblock%}

{% block contenido %}

<div class="row">
  <div class="col title">
    <h3 class="w_txt title">User Profile</h3>
    <h1 class="w_txt"><span id="saludo"></span>{{user.first_name}}!</h1>
  </div>
</div>

<h3 class="w_txt title">¿Qué deseas hacer?</h3>

<div class="cards text-center">
  <div class="row">


    <div class="col zoom">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'core/img/icon2.webp' %}" class="card-img-top shadow" alt="...">
        <div class="card-body">
          <h5 class="card-title">Reservar Espacio</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-secondary">Ir</a>
        </div>
      </div>
    </div>

    <div class="col zoom">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'core/img/icon7.webp' %}" class="card-img-top shadow" alt="...">
        <div class="card-body">
          <h5 class="card-title">Revisar Gasto Común</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-secondary">Ir</a>
        </div>
      </div>
    </div>


    <div class="col zoom">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'core/img/icon3.webp' %}" class="card-img-top shadow" alt="...">
        <div class="card-body">
          <h5 class="card-title">Revisar Multas</h5>
          <p class="card-text">Some quick exampl text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-secondary">Ir</a>
        </div>
      </div>
    </div>

    <div class="col zoom">
      <div class="card" style="width: 18rem;">
        <img src="{% static 'core/img/icon8.webp' %}" class="card-img-top shadow" alt="...">
        <div class="card-body">
          <h5 class="card-title">Revisar Morosidad</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-secondary">Ir</a>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}